---
import logoIcon from "../images/Color logo - no background.png";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../css/global.css";

export interface Props{
	title?: string
}

const { title = "Arch Portfolio " } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/logo" href={logoIcon} />
		<meta name="generator" content={Astro.generator} />
		<GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap">
		</GoogleFontsOptimizer>
		<script src="../javascript/script.js"></script>
		<title>{title}</title>
	</head>
	<body>
		<Header/>
		<slot />
		<Footer/>
		
	</body>
</html>

